<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="game-ticket">
        <div id="create-room">
            <form action="/create" method="POST">
                <input type="submit" value="CREATE ROOM">
            </form>
        </div>
        <div id="join-room">
            <form action="/join" method="POST">
                <input type="text">
                <input type="submit" value="JOIN ROOM">
            </form>
        </div>
    </div>
</body>
</html>